<div class="sidebar">
  <div class="logo">
    <h1>Error Analyzer</h1>
  </div>
  
  <nav class="nav-menu">
    <a routerLink="/overview" routerLinkActive="active">
      <fa-icon [icon]="faHome"></fa-icon>
      <span>Overview</span>
    </a>
    <a routerLink="/accounts" routerLinkActive="active">
      <fa-icon [icon]="faUsers"></fa-icon>
      <span>Accounts</span>
    </a>
    <a routerLink="/export" routerLinkActive="active">
      <fa-icon [icon]="faFileExport"></fa-icon>
      <span>Export</span>
    </a>
  </nav>
</div> 